@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/fonts/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/fonts/Gilroy-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/fonts/gilroy-medium.eot");
  src: url("../fonts/fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/fonts/gilroy-medium.woff") format("woff"), url("../fonts/fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/fonts/gilroy-medium.svg#gilroy-medium") format("svg");
}

.header {
  width: 100%;
}

.container {
  max-width: 945px;
  margin: 0 auto;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 33px 0px 0px 0px;
  padding-bottom: 37px;
  border-bottom: 2px solid black;
}

.nav li a {
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  font-family: "Gilroy";
  color: #828282;
}

.nav li a:hover {
  color: black;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.button {
  display: none;
}

ul > li {
  display: inline-block;
}

ul > li > a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000;
}

ul > li > a:before,
ul > li > a:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0%;
  height: 0px;
  background: #828282;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

ul > li > a:before {
  left: 50%;
}

ul > li > a:after {
  right: 50%;
}

ul > li > a:hover:before,
ul > li > a:hover:after {
  background: black;
  height: 3px;
  width: 50%;
}

.container {
  overflow: hidden;
}

.home {
  padding-top: 40px;
  margin-bottom: 100px;
}

.home img {
  max-width: 100%;
}

.name {
  font-size: calc(30px + 18 * ((100vw - 320px) / 960));
  font-family: "Gilroy";
}

.ab_me {
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
}

.ab_me p {
  font-family: "Gilroy-Medium";
  margin-top: calc(((30px + 18 * ((100vw - 320px) / 960))*2) - ((15px + 3 * ((100vw - 320px) / 960))*2) - ((30px + 18 * ((100vw - 320px) / 960)) * 0.12));
}

.up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.up .menu {
  display: none;
}

.up .menu a {
  height: 0px;
}

.up .menu img {
  height: 100%;
}

.tel_img {
  display: none;
}

.lang p {
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  font-family: "Gilroy";
  /*margin-top: 78px;*/
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.lang p a {
  color: black;
}

.about_me {
  padding: 120px 0px;
  background: #F6F6F6;
}

.about_me .container .title h2 {
  font-size: calc(30px + 8 * ((100vw - 320px) / 960));
  font-family: "Gilroy";
  text-align: center;
}

.about_me .container .title p {
  font-family: "Gilroy-Medium";
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  text-align: center;
  margin-top: 40px;
}

.skill {
  padding: 120px 0px;
}

.skill .container .title {
  margin-bottom: 75px;
}

.skill .container .title h2 {
  font-family: "Gilroy";
  font-size: calc(30px + 8 * ((100vw - 320px) / 960));
  text-align: center;
}

.skill .container .title p {
  font-family: "Gilroy-Medium";
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  text-align: center;
  margin: 40px 0px 0px 0px;
}

.skill .container .programs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skill .container .programs .img a img {
  max-width: 100%;
}

.skill .container .programs .name_2 {
  color: #828282;
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  font-family: "Gilroy-Medium";
  padding-top: 15px;
  text-align: center;
}

.skill .container .programs .estimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 15px;
  /*font-size: 40px;
				&::before{
					content: '★★★★★';
				}*/
}

.skill .container .programs .program {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.portfolio {
  background: #F6F6F6;
  padding: 120px 0px;
}

.portfolio .title h2 {
  font-size: calc(30px + 8 * ((100vw - 320px) / 960));
  font-family: "Gilroy";
  text-align: center;
  margin-bottom: 40px;
}

.portfolio .site .site_1 p {
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  font-family: "Gilroy-Medium";
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  color: black;
}

.portfolio .site .site_1 img {
  max-width: 100%;
}

.portfolio .site .site_2 p {
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  font-family: "Gilroy-Medium";
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  color: black;
}

.portfolio .site .site_2 img {
  padding-top: 100px;
  max-width: 100%;
}

.portfolio .site .site_3 p {
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  font-family: "Gilroy-Medium";
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  color: black;
}

.portfolio .site .site_3 img {
  padding-top: 100px;
  max-width: 100%;
}

.contacts {
  padding: 120px 0px;
}

.contacts .title {
  margin-bottom: 75px;
}

.contacts .title h2 {
  font-size: calc(30px + 8 * ((100vw - 320px) / 960));
  font-family: "Gilroy";
  text-align: center;
}

.contacts .title p {
  font-family: "Gilroy-Medium";
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  text-align: center;
  margin-top: 40px;
}

.contacts .social_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 60px;
}

.contacts .social_networks_item {
  width: 40px;
}

.contacts .name_networks p {
  font-family: "Gilroy-Medium";
  font-size: calc(15px + 3 * ((100vw - 320px) / 960));
  text-align: center;
  color: #828282;
}

@media only screen and (max-width: 945px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    background-color: white;
  }
  .header ul > li > a {
    display: inline-block;
  }
  .header ul > li > a:before,
  .header ul > li > a:after {
    display: none;
  }
  .header .nav {
    display: block;
    margin: 0px;
    padding: 0px 0px;
    border-bottom: 0px solid black;
  }
  .header .nav li {
    display: list-item;
  }
  .header .nav li a {
    font-size: 40px;
    font-family: "Gilroy";
    color: #828282;
    margin-bottom: 20px;
  }
  .header .nav li a:hover {
    color: #828282;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }
  .header .button {
    display: inline;
    position: absolute;
    top: 3px;
    right: 0;
  }
  .header_active {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    left: 0;
  }
  .lang {
    display: none;
  }
  .up {
    display: block;
    position: relative;
  }
  .up .menu {
    height: 30px;
    padding-top: 3px;
    display: block;
    position: absolute;
    right: 0;
  }
  .pc_img {
    display: none;
  }
  .tel_img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .skill {
    padding: 60px 0px 80px;
  }
  .skill .container {
    max-width: 450px;
  }
  .skill .container .programs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .skill .container .programs .xd, .skill .container .programs .figma {
    margin-top: 50px;
  }
  .portfolio {
    padding: 60px 0px 80px;
  }
  .contacts {
    padding: 60px 0px 80px;
  }
  .contacts .social_networks {
    max-width: 50%;
  }
  .about_me {
    padding: 60px 0px 80px;
  }
  .home {
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .home img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .skill {
    padding: 80px 0px 80px;
  }
  .skill .container {
    max-width: 200px;
  }
  .skill .container .title {
    margin-bottom: 35px;
  }
  .skill .container .programs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .skill .container .programs .program {
    padding-top: 30px;
    margin-top: 0px;
  }
  .contacts {
    padding: 60px 0px 80px;
  }
  .contacts .title {
    margin-bottom: 60px;
  }
  .contacts .social_networks {
    max-width: 70%;
  }
}
