// import
//reset-style
@import 'reset_style.scss';

// variables
@import 'variables.scss';

//header
@import 'header.scss';

//--------------------------------

.container{
	overflow: hidden;
}

.home {
	padding-top: 40px;
	margin-bottom: 100px;
	img {
		max-width: 100%;
	}
}
.name {
	@include adaptiv-font(48, 30);
	font-family: $ff;
}
.ab_me {
	
	@include adaptiv-font(18, 15);
	p{
		font-family: $ff_2;
		margin-top: calc(((#{30 + px} + #{18} * ((100vw - 320px) / #{960}))*2) - ((#{15 + px} + #{3} * ((100vw - 320px) / #{960}))*2) - ((#{30 + px} + #{18} * ((100vw - 320px) / #{960})) * 0.12));
		// margin-top: calc((144px - 44px) - 7px);
	}
}
.up {
	display: flex;
	margin-bottom: 50px;
	justify-content: space-between;
	.menu{
		display: none;
		a{
			height: 0px;
		}
		img{
			height: 100%;
		}
	}
}
.tel_img{
	display: none;
}
.lang {
	p {
		@include adaptiv-font(18, 14);
		font-family: $ff;
		/*margin-top: 78px;*/
		transform-origin: right bottom;
		transform: rotate(-90deg);
		a{
			color: black;
		}
	}
}

.about_me{
	padding: 120px 0px;
	background: #F6F6F6;
	.container{
		.title{
			h2{
				@include adaptiv-font(38, 30);
				font-family: $ff;
				text-align: center;
			}
			p{
				font-family: $ff_2;
				@include adaptiv-font(18, 15);
				text-align: center;
				margin-top: 40px;
			}
		}
	}
}

.skill{
	padding: 120px 0px;
	.container{
		.title{
			margin-bottom: 75px;
			h2{
				font-family: $ff;
				@include adaptiv-font(38, 30);
				text-align: center;
			}
			p{
				font-family: $ff_2;
				@include adaptiv-font(18, 15);
				text-align: center;
				margin: 40px 0px 0px 0px;
			}
		}
		.programs{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			.img{

				a{

					img{
						max-width: 100%;
					}
				}
			}
			.name_2{
				color: #828282;
				@include adaptiv-font(18, 15);
				font-family: $ff_2;
				padding-top: 15px;
				text-align: center;
			}
			.estimation{
				display: flex;
				width: 70%;
				margin: 0 auto;
				justify-content: space-between;
				padding-top: 15px;
				/*font-size: 40px;
				&::before{
					content: '★★★★★';
				}*/
			}
			.program{
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
	}
}

.portfolio{
	background: #F6F6F6;
	padding: 120px 0px ;
	.title{
		h2{
			@include adaptiv-font(38, 30);
			font-family: $ff;
			text-align: center;
			margin-bottom: 40px;
		}
	}
	.site{
		.site_1{
			p{
				@include adaptiv-font(18, 15);
				font-family: $ff_2	;
				text-align: center;
				padding-top: 20px;
				text-decoration: underline;
				color: black;
			}
			img{
				max-width: 100%
			}
		}
		.site_2{
			p{
				@include adaptiv-font(18, 15);
				font-family: $ff_2	;
				text-align: center;
				padding-top: 20px;
				text-decoration: underline;
				color: black;
			}
			img{
				padding-top: 100px;
				max-width: 100%;
			}
		}
		.site_3{
			p{
				@include adaptiv-font(18, 15);
				font-family: $ff_2	;
				text-align: center;
				padding-top: 20px;
				text-decoration: underline;
				color: black;
			}
			img{
				padding-top: 100px;
				max-width: 100%;
			}
		}
	}
}

.contacts{
	padding: 120px 0px;
	.title{
		margin-bottom: 75px;
		h2{
			@include adaptiv-font(38, 30);
			font-family: $ff;
			text-align: center;
		}
		p{
			font-family: $ff_2;
			@include adaptiv-font(18, 15);
			text-align: center;
			margin-top: 40px;
		}
	}
	.social_networks{
		display: flex;
		max-width: 30%;
		justify-content: space-between;
		margin: 0 auto;
		padding-bottom: 60px;
		&_item{
			width: 40px;
		}
	}
	.name_networks{
		p{
			font-family: $ff_2;
			@include adaptiv-font(18, 15);
			text-align: center;
			color: #828282;
		}
	}
}
// adaptive
@import 'adaptive.scss';